@*Underscore means partial view, cannot be rendered alone because it is designated a helper page*@

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="@Href("~/Shared/style.css")" type="text/css"/>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>This is my header.</h1>
            </header>

            <aside>

            </aside>


        </div>
    </body>
</html>
